body{
    color:white;
    background:pink;
    margin:0px;
}

header{
    boarder-botom: solid 10px rgb(87, 18, 108)
    padding: 20px;
    font-size: 50px;
    color: rgb(87, 18, 108);
}

section{
    background: rgb(87, 18, 108);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex
    justify-content: center;
}

.chamada-tema{
   h1{font-size: 33px;}
   p{font-size: 10px}

}

.chamada-texto{
    margin-right: 5%;
    p1{font-size: 25px}
    p{font-size: 20px}
}

.chamada-t2{
    p1{font-size:25px}
    p{font-size: 20px}
}